<div id="priceListContent">
    <div class="tables" id="leftTables">
        <table>
            <tr><th>Zdjęcia do dokumentów</th><th></th></tr>
            <tr><td>Do dowodu/paszportu/legitymacji itd (6 szt. 35mm x 45mm)</td><td>20 zł</td></tr>
            <tr><td>Niewymiarowe (6 szt.)</td><td>25 zł</td></tr>
            <tr><td>Do wizy (6 szt. 50mm x 50mm)</td><td>30 zł</td></tr>
        </table>
        <table id="secondTable">
            <tr><th>Oferta dla szkół</th><th></th></tr>
            <tr><td>Zdjęcia klasowe/grupowe (1 szt.)</td><td>10 zł</td></tr>
            <tr><td>Studniówka + dzień maturzysty (zdjęcia + film)</td><td>150 zł</td></tr>
            <tr><td>Imprezy szkolne</td><td>100 zł</td></tr>
        </table>
    </div>
    <table class="tables">
        <tr><th>Zdjęcia okolicznościowe</th><th></th></tr>
        <tr><td>Chrzciny/Komunie</td><td>300 zł</td></tr>
        <tr><td>Imprezy urodzinowe</td><td>200 zł</td></tr>
        <tr><td>Sesja narzeczeńska</td><td>400 zł</td></tr>
        <tr><td>Sesja dziecięca</td><td>250 zł</td></tr>
        <tr><td>Sesja ślubna (przygotowanie Państwa Młodych, ceremonia, wesele, sesja w plenerze; zdjęcia + film)</td><td>1500 zł</td></tr>
    </table>
</div>