<div id="ContactContent">
    <div id="addresses">
        <div>
            <h3 class="contactHeader">Kontakt</h3>
            <p class="datas"><img src="assets/img/at-icon.svg" class="icon">przez e-mail: user@example.com</p>
            <p class="datas"><img src="assets/img/phone-icon.svg" class="icon">przez telefon: 123567123</p>
            <p class="datas"><img src="assets/img/map-icon.svg" class="icon">moje biuro mieści się przy ulicy Przykładowej 25b/2 w mieście Przykład</p>
        </div>
        <div id="contactHours">
            <h5 class="contactHeader">Preferowane godziny kontaktu:</h5>
            <p class="datas">Poniedziałek-Piątek: 8:00-16:00</p>
            <p class="datas">Sobota: 9:00-14:00</p>
        </div>
    </div>
        <div id="maps">
            <iframe id="location" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5044682.068092223!2d14.646680677266252!3d51.875129667467014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47009964a4640bbb%3A0x97573ca49cc55ea!2sPolska!5e0!3m2!1spl!2spl!4v1603470092657!5m2!1spl!2spl" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
</div>