<div class="toolbar" role="banner">
  <span>Photo Site</span>
  <div id="links">
    <a class="link" routerLink="/about-me" routerLinkActive="active">O mnie</a>
    <a class="link" routerLink="/contact" routerLinkActive="active">Kontakt</a>
    <a class="link" routerLink="/gallery" routerLinkActive="active">Galeria</a>
    <a class="link" routerLink="/price-list" routerLinkActive="active">Oferta</a>
  </div>

</div>
<div class="content" role="main">
    
  <router-outlet></router-outlet>  

</div>
 
  <!-- Footer -->
<footer>
  <i>Powyższa strona jest wyłącznie stroną poglądową i nie przedstawia rzeczywistych usług.</i>

</footer>