<div id="AboutMeContent">
    <div id="card">
        <img id="avatar" src="assets/img/avatar.png" alt="avatar"/>
        <div id="container">
            <h5><b>Imię i Nazwisko</b></h5>
            <p class="p">Jestem fotografem</p>
        </div>
    </div>
    <div class="p">
        Tutaj jest miejsce na opis samego siebie.
        Skoro jest to strona poświęcona przykładowemu fotografowi, to warto określić od kiedy fotografią się zajmuje.
        Załóżmy, że jest to rok 2011.
        Załóżmy również, że jestem dobrym fotografem i mam dobre zdjęcia, które mogę zaprezentować i się nimi pochwalić.
        Zapraszam więc do zakładki <a id="link" routerLink="/gallery" routerLinkActive="active">Galeria</a>.<br/><br/>
        <i>Grafika do stworzenia avataru zaciągnięta z w3schools</i>

    </div>
</div>
